<!DOCTYPE html>
<html>
<head>
    <!-- <title><%= title %></title> !-->
     <title> Musique </title>
<style>
    .lead{
        margin-top:400px !important;
    }
</style>
</head>
<body>
    <% include ../partials/header %>

    <div class="container">
      <div class="page-header m-t-1">
     
      </div>
      <p class="lead">Welcome to  Musique <!-- <%= title %> !--> </p>
    </div>

    <% include ../partials/footer %>
   
</body>
</html>
