<!DOCTYPE html>
<html>

<head>
    <title>
        Search Tag
    </title>

</head>

<style>
    #output{
        border-radius:50%;
        /*display: inline; */
        width: 140px;
        height: 140px;
    }
</style>

<body>
    <% include ../partials/header %>
    HELLO ITS ME
        <div class="scrollmenu">
            <% searchTag.forEach(function(searchTag) {%>
                <h2>
                    product id of this tag : <%= searchTag.product_id %>
                    <img id="output" src="/images/<%=searchTag.imageName%>"/>
                <h2>
            <% }); %>
        </div>

</body>

</html>